

#homeMedio{
    height: auto;
}


.contenedorProductoHome{
    margin-bottom: 5%;
}

.contenedorProductoHome img{
    width: 100%;
}

.nombreProductoHome{
    height: 4em;
    font-size: 0.8em;
    margin: 0;
}

.marcaProductoHome{
    height: 2em;
    font-size: 0.8em;
    margin: 0;
    color: gray;
}

#contenedorImagenHome{
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
}